.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
