<section class="about" id="made">
    <div class="container">   
        <p class="about__label">tradition and love</p>
        <h1 class="title">how it’s made?</h1>
        <div class="about__thumb">
            <div class="about__image">
            </div>
            <div class="about__text">
                <p class="about__motto">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                Maecenas eleifend erat at justo fringilla.</p>
                <div class="about__thumb-image">
                    <p class="about__value">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. 
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p class="about__quote">Aliquam erat volutpat. Aenean accumsan.</p>
                    <button type="button" class="button button--icon" data-read-open>Read more
                        <svg width="10" height="10">
                            <use href="./images/svg/sprites.svg#icon-vector-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="backdrop is-hidden" data-read>
        <div class="read">
            <button class="modal-read-button" data-read-close>
                <svg width="11" height="11">
                    <use href="./images/svg/sprites.svg#icon-close"></use>
                </svg>
            </button>
            <div class="read__about-thumb">
                <div class="read__about-image">
                <img src="./images/4-about/elon.webp" alt="Jon Jonsan - CEO" />
                 </div>
                <p class="read__about-ability">Уou can also pay with cryptocurrency when you buy on the site and get a guaranteed discount on your next purchase.</p>
              </div>
        </div>
    </div>
    </section>
</section>
