<div class="adamants-modal-backdrop is-hidden" data-adamants-modal>
  <button class="close-button" data-adamants-close>
    <svg width="11" height="11">
        <use href="./images/svg/sprites.svg#icon-close"></use>
    </svg>
   </button>
  <div class="adamants-modal" id="adamants-box">
    
    <h1 class="adamants-modal__title">icecream-project</h1>
    <span class="adamants-modal__appeal">group_10</span>
    <h2 class="adamants-modal__group">adamants</h2>
    <ul class="adamants-modal__list">
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Наталья Валько
          <span class="adamants-modal__occup">team-lead</span>
        </p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>header</p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Николай Мосалов</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>hero</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Геннадий Мариев
          <span class="adamants-modal__occup">scrum-master</span>
        </p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>products</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Кристина Тузова</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>about</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Алексей Волошин</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>advantages</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Анастасия Литвинова</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>gallery</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Ровшан Шахвердиев</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>customer`s reviews</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Юрий Бема</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>locations</p>
        </p>
      </li>
      <li class="adamants-modal__item">
        <p class="adamants-modal__name">Виталий Вовк</p>
        <p class="adamants-modal__meta">
          <span class="adamants-modal__section"> Section: </span>footer</p>
        </p>
      </li>
    </ul>
  </div>
</div>
