<section class="locations" id="contact">
    <div class="container">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="locations__list list">

            <li class="locations__item">
                <p class="locations__title first">Cafe</p>
                <p class="locations__subtitle">Chicago</p>
                <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="schedule__item">
                        <p class="schedule__days">Monday - Friday</p>
                        <p class="schedule__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule__item">
                        <p class="schedule__days">Saturday - Sunday</p>
                        <p class="schedule__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="address list">
                    <li class="address__item">
                        <a href="tel:+610383766284" class="address__link link">+61(0) 383 766 284 </a>
                    </li>
                    <li class="address__item">
                        <a href="mailto:noreply@envato.com" class="address__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="locations__item">
                <p class="locations__title second">Food Truck</p>
                <p class="locations__subtitle">Los Angeles</p>
                <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="schedule__item">
                        <p class="schedule__days">Monday - Friday</p>
                        <p class="schedule__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule__item">
                        <p class="schedule__days">Saturday - Sunday</p>
                        <p class="schedule__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="address list">
                    <li class="address__item">
                        <a href="tel:+610383766284" class="address__link link">+61(0) 383 766 284 </a>
                    </li>
                    <li class="address__item">
                        <a href="mailto:noreply@envato.com" class="address__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="locations__item">
                <p class="locations__title first">Cafe</p>
                <p class="locations__subtitle">New York</p>
                <p class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="schedule">
                    <li class="schedule__item">
                        <p class="schedule__days">Monday - Friday</p>
                        <p class="schedule__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule__item">
                        <p class="schedule__days">Saturday - Sunday</p>
                        <p class="schedule__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="address list">
                    <li class="address__item">
                        <a href="tel:+610383766284" class="address__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="address__item">
                        <a href="mailto:noreply@envato.com" class="address__link link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="locations__buttons">
            <button type="button" class="button--secondary" data-modal-map-open>Our Locations
                <svg class="button__icon-right">
                    <use href="./images/svg/sprites.svg#icon-vector-right"></use>
                </svg>
            </button>
            <button type="button" class="button--icon">Franchise
                <svg class="button__icon-right">
                    <use href="./images/svg/sprites.svg#icon-vector-right"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="locations-modal-backdrop is-hidden" data-modal-map>
        <div class="locations-modal">
            <button class="close-button" data-modal-map-close>
                <svg width="11" height="11">
                    <use href="./images/svg/sprites.svg#icon-close"></use>
                </svg>
            </button>
            <p class="locations-modal__appeal">please</p>
            <b class="locations-modal__title">Find us here!</b>
            <iframe class="locations-modal__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.779267406319!2d30.53619711496304!3d50.42658409696646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1sru!2sua!4v1615977997314!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <a href="https://g.page/goitua?share" class="locations-modal__link" target="_blank">Open Google Maps</a>
        </div>
    </div>
</section>
