<article class="products" id="product">
  <div class="container">
    <p class="products__appeal">100% natural</p>
<h2 class="products__title">products</h2>
  <ul class="products__list list">
    <li class="products__card first">
      <input type="checkbox" id="card-first" class="products__check" aria-hidden="true">
      <div class="products__wrapper">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et 
          <span class="optional">. dolore magna aliqua facilisis.</span></p>
            <label class="products__button" for="card-first">
              <svg class="products__arrow" width="11" height="10">
                <use href="./images/svg/sprites.svg#icon-arrow-right2"></use>
              </svg>
            </label>
      </div>
      
      <div class="products__wrapper--back">
        <h3 class="products__subtitle">ice cream</h3>
          <div class="products__box">
            <ul class="products__qualities">
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-happy"></use>
                </svg>
                <p class="products__meta">150g of happiness</p>
              </li>
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-heart"></use>
                </svg>
                <p class="products__meta">Sweet & tasty</p>
              </li>
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-accessibility"></use>
                </svg>
                <p class="products__meta">Natural components</p>
              </li>
            </ul>
            <div class="products__price-box">
              <p class="products__price-title">only</p>
              <span class="products__price">2.99</span>
            </div>
            <button class="button button--icon" type="button">
              Buy now
              <svg width="10" height="10">
                  <use href="./images/svg/sprites.svg#icon-vector-right"></use>
              </svg>
          </button>
          </div>
          <label class="products__button" for="card-first">
            <svg class="products__close" width="11" height="11">
              <use href="./images/svg/sprites.svg#icon-close"></use>
            </svg>
          </label>
      </div>
    </li>
    <li class="products__card second">
      <input type="checkbox" id="card-second" class="products__check" aria-hidden="true">
      <div class="products__wrapper">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et 
          <span class="optional">. dolore magna aliqua facilisis.</span></p>
          <label class="products__button" for="card-second">
            <svg class="products__arrow" width="11" height="10">
              <use href="./images/svg/sprites.svg#icon-arrow-right2"></use>
            </svg>
          </label>
        </div>
        <div class="products__wrapper--back">
          <h3 class="products__subtitle">ice coffee</h3>
            <div class="products__box">
              <ul class="products__qualities">
                <li class="products__item">
                  <svg class="products__icon" width="20" height="20">
                    <use href="./images/svg/sprites.svg#icon-happy"></use>
                  </svg>
                  <p class="products__meta">150g of happiness</p>
                </li>
                <li class="products__item">
                  <svg class="products__icon" width="20" height="20">
                    <use href="./images/svg/sprites.svg#icon-heart"></use>
                  </svg>
                  <p class="products__meta">Sweet & tasty</p>
                </li>
                <li class="products__item">
                  <svg class="products__icon" width="20" height="20">
                    <use href="./images/svg/sprites.svg#icon-accessibility"></use>
                  </svg>
                  <p class="products__meta">Natural components</p>
                </li>
              </ul>
              <div class="products__price-box">
                <p class="products__price-title">only</p>
                <span class="products__price">1.99</span>
              </div>
              <button class="button button--icon" type="button">
                Buy now
                <svg width="10" height="10">
                    <use href="./images/svg/sprites.svg#icon-vector-right"></use>
                </svg>
            </button>
            </div>
            <label class="products__button" for="card-second">
              <svg class="products__close" width="11" height="11">
                <use href="./images/svg/sprites.svg#icon-close"></use>
              </svg>
            </label>
        </div>
    </li>
    <li class="products__card third">
      <input type="checkbox" id="card-third" class="products__check" aria-hidden="true">
      <div class="products__wrapper">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et 
          <span class="optional">. dolore magna aliqua facilisis.</span></p>
          <label class="products__button" for="card-third">
            <svg class="products__arrow" width="11" height="10">
              <use href="./images/svg/sprites.svg#icon-arrow-right2"></use>
            </svg>
          </label>
      </div>
      <div class="products__wrapper--back">
        <h3 class="products__subtitle">milkshakes</h3>
          <div class="products__box">
            <ul class="products__qualities">
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-happy"></use>
                </svg>
                <p class="products__meta">150g of happiness</p>
              </li>
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-heart"></use>
                </svg>
                <p class="products__meta">Sweet & tasty</p>
              </li>
              <li class="products__item">
                <svg class="products__icon" width="20" height="20">
                  <use href="./images/svg/sprites.svg#icon-accessibility"></use>
                </svg>
                <p class="products__meta">Natural components</p>
              </li>
            </ul>
            <div class="products__price-box">
              <p class="products__price-title">only</p>
              <span class="products__price">2.49</span>
            </div>
            <button class="button button--icon" type="button">
              Buy now
              <svg width="10" height="10">
                  <use href="./images/svg/sprites.svg#icon-vector-right"></use>
              </svg>
          </button>
          </div>
          <label class="products__button" for="card-third">
            <svg class="products__close" width="11" height="11">
              <use href="./images/svg/sprites.svg#icon-close"></use>
            </svg>
          </label>
      </div>
    </li>
  </ul>
  </div>
</article>
