.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--second-bgc) 48%,
    var(--light-text-color) 48%,
    var(--light-text-color) 100%
  );

  @media (min-width: $tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--second-bgc) 45%,
      var(--light-text-color) 45%,
      var(--light-text-color) 100%
    );
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(
      to bottom,
      var(--second-bgc) 43%,
      var(--light-text-color) 43%,
      var(--light-text-color) 100%
    );
  }

  padding-top: 49px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 71px;
    padding-bottom: 60px;
  }
  @media (min-width: $desktop) {
    padding-top: 69px;
    padding-bottom: 62px;
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px;

    @media (min-width: $tablet) {
      margin: -2px;
    }

    @media (min-width: $desktop) {
      margin: -3px;
    }
  }
}

.gallery__wrapper {
  margin: 1px;
  display: inline;

  @media (min-width: $tablet) {
    margin: 2px;
  }

  @media (min-width: $desktop) {
    margin: 3px;
  }

  &:nth-child(2) {
    padding-top: 6px;

    @media (min-width: $tablet) {
      padding-top: 18px;
    }

    @media (min-width: $desktop) {
      padding-top: 29px;
    }
  }

  &:nth-child(4) {
    padding-top: 15px;

    @media (min-width: $tablet) {
      padding-top: 34px;
    }

    @media (min-width: $desktop) {
      padding-top: 54px;
    }
  }

  &:nth-child(5) {
    padding-bottom: 12px;

    @media (min-width: $tablet) {
      padding-bottom: 23px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 41px;
    }
  }
}

.gallery__picture {
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 4px;
  overflow: hidden;
  transition: 500ms linear;

  @media (min-width: $tablet) {
    border-radius: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop) {
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  &:hover {
    transform: scale(1.2);
  }
}
