.locations-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
  
    opacity: 1;
    transition: opacity $time-main $timing-function-main,
                visibility $time-main $timing-function-main;

    @media (max-width: $mobile - 1px) {
        padding: 20px 10px;
    }

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
}

.locations-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 99;
  
    opacity: 1;
    background-color: var(--light-text-color);
    transform: translate(-50%, -50%) scale(1) perspective(581px) rotateY(0deg);
    transition: transform $time-main $timing-function-main,
                opacity $time-main $timing-function-main;

    @media (max-width: $tablet - 1px) {
        position: relative;
    }

    @media (min-width: $tablet) {
        width: 640px;
        padding: 20px;
    }

    @media (min-width: $desktop) {
        width: 840px;
    }

    .locations-modal-backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(2) perspective(581px) rotateY(90deg);
        opacity: 0.1;
    }

    &__title {
      display: block;
      font-family: 'Titan One', cursive;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.147;
      letter-spacing: 0.04em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
  
      color: rgb(212, 20, 67);

      @media (min-width: $tablet) {
        font-size: 30px;
        margin-bottom: 16px;
      }
      @media (min-width: $desktop) {
        font-size: 34px;
      }
    }

    &__appeal {
      display: block;
      font-family: 'Titan One', cursive;

      font-size: 14px;
      font-weight: 400;
      line-height: 1.166;
      letter-spacing: 0em;

      text-align: center;
      text-transform: uppercase;

      color: rgb(255, 165, 186);

      margin-bottom: 4px;

      @media (min-width: $tablet) {
        font-size: 16px;
        //margin-bottom: 10px;
      }
      @media (min-width: $desktop) {
        font-size: 18px;
        margin-bottom: 8px;
      }
    }

    &__frame {
      width: 260px;
      height: auto;

      margin-bottom: 8px;

      @media (min-width: $tablet) {
        width: 600px;
        height: 450px;
        margin-bottom: 10px;
      }

      @media (min-width: $desktop) {
        width: 800px;
        height: 600px;
        margin-bottom: 16px;
      }
    }

    &__link {
      font-size: 12px;
      font-family: $ff-main;
      color: var(--accent-primary-color);
    
      @media (min-width: $tablet) {
        font-size: 16px;
      }
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-hover-color);
      text-shadow: 0 0 1px 2px var(--accent-hover-color);
    }
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  fill: var(--accent-primary-color);
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-color: var(--light-text-color);

  transition: fill $time-main $timing-function-main,
              background-color $time-main $timing-function-main;
  &:hover,
  &:focus {
      fill: var(--light-text-color);
      background-color: var(--accent-hover-color);
  }   
}